body{
	background:#f5f5f5; 
}

.form-group { margin-bottom: 0.5em; }

/* vertical */
.form-group label { display: block; }

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #ddd;
}

.form-group input:valid,
.form-group textarea:valid {
  border: 2px solid green;
}

/*input::placeholder significa que toda acção dentro do placeholder  terá aquela cor os :: serve para chamar o placeholder*/

